
@{

    var botName = "Serenity Solution";
}

<div id="chatbot-container" class="chatbot-container">
    <div class="chatbot-header">
        <div class="chatbot-avatar">
            <img src="~/image/Logo/LogoSere.jpg" alt="Bot Avatar" />
        </div>
        <div class="chatbot-info">
            <h3>@botName</h3>
            <span>Online</span>
        </div>
        <button id="chatbot-close" class="chatbot-toggle-btn">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="chatbot-suggestion-buttons compact">
        <button class="suggestion-btn small" data-question="Tôi có thể tâm sự với cùng bạn không?">Tôi có thể tâm sự với cùng bạn không?</button>
        <button class="suggestion-btn small" data-question="Tôi cần tư vấn thêm về sức khỏe tâm lý">Tôi cần tư vấn thêm về sức khỏe tâm lý</button>
        <button class="suggestion-btn small" data-question="Tôi cần thêm thông tin về chuyên gia tâm lý">Tôi cần thêm thông tin về chuyên gia tâm lý</button>
        <button class="suggestion-btn small podcast-button" data-question="Podcast hôm nay?">Podcast hôm nay?</button>
    </div>

    
    <div class="chatbot-messages" id="chatbot-messages">
        <!-- Messages will be displayed here dynamically -->
    </div>
    

    <div class="chatbot-input">
        <input type="text" id="chatbot-input-field" placeholder="Nhập tin nhắn..." />
        <button id="chatbot-send">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>

<div id="chatbot-toggle" class="chatbot-button">
    <i class="fas fa-comment"></i>
</div> 